* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.piz-pap {
    font-size: 50px;
}

ul > .nav-items {
    display: inline;
    margin-right: 20px;
    margin-left: 12px;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}

#spantext {
    color: yellow;
}

.navi {
    float: right;
}

.exc {
    color: yellow;
}

#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}

li {
    display: inline;
    margin-right: 20px;
}

.h-buttons button {
    border-radius: 40px;
    color: black;
}

.menu-btn {
    border-radius: 20px;
    margin-top: 20px;
    color: #000;
}
#menu {
    padding-top: 20px;
}

#order-pizza {
    color: #000;
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}
figcaption {
    font-family: 'Oswald', serif;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    background-image: url();
    max-height: 1000px;
}
.wiggle{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100%;
    border-style: solid;
    margin-top: 100px;
    margin-bottom: 100px;
}
.jumbotron{
    background-color: black;
}



body{
    text-align: center;
   
}
.landing {
    background-image: url("../images/pizzabg.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#spantext {
    color: yellow;
}

.navi {
    float: right;
}

.exc {
    color: yellow;
}



li {
    display: inline;
    margin-right: 20px;
}




figcaption {
    font-family: 'Oswald', serif;
}
.contact {
    padding-top: 20px;
}
.go {
    border-radius: 20px;
    padding-bottom: 100px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}


.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}




.menu {
    margin-top: 30px;
    background-image: url("../images/sec/b4.jpg");
    padding: 0;
}

#menu {
    font-family: 'Love Ya Like A Sister', cursive;
}

.menu-overlay {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}


.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

#push {
    padding-top: 10%;
}

.landing-text {
    margin-top: 15%;
    margin-bottom: 15%;
}

.landing-text h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}



a {
    color: white;
    font-size: 18px;
    font-weight: normal;
}

figure img {
    height: 260px;
    width: 260px;
}


    
   
    
    

    

