* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul > .nav-items {
    display: inline;
    margin-right: 20px;
    margin-left: 12px;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}
#spantext {
    color: yellow;
}
.navi {
    float: right;
}

.exc {
    color: yellow;
}

#darol {
    font-style: italic;
    font-size: 55px;
    font-weight: lighter;
    color: darkorange;
}
li {
    display: inline;
    margin-right: 20px;
}

.h-buttons button {
    border-radius: 40px;
    color: black;
}
.h-buttons{
    padding-bottom: 10%;
}


#menu {
    padding-top: 20px;
}

.figcaption {
    font-family: 'Oswald', serif;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    background-image: url();
    max-height: 1000px;
}
.wiggle{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100%;
    border-style: solid;
    margin-top: 100px;
    margin-bottom: 100px;
}
.jumbotron{
    background-color: black;
}
.body{
    text-align: center;
  
}
#spantext {
    color: yellow;
}
.exc {
    color: yellow;
}
.li {
    display: inline;
    margin-right: 20px;
}
.figcaption {
    font-family: 'Oswald', serif;
}
.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}
#menu {
    font-family: 'Love Ya Like A Sister', cursive;
}
#push {
    padding-top: 10%;
}
.landing-text {
    margin-top: 15%;
    margin-bottom: 15%;  
}
.landing-text h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}
.landing{
    background-image: url(https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}
a {
    color: white;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
}
figure img {
    height: 260px;
    width: 260px;
}

   
    
    

    

